<h1>Registry</h1>

<md-grid-list cols="13" rowHeight="1.5:1" rowWidth="1.5:1">
  <md-grid-tile colspan="1" rowspan="1"></md-grid-tile>
  <md-grid-tile colspan="3" rowspan="1">
    <h2 style="text-align: center;">Ikea</h2>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="1"></md-grid-tile>
  <md-grid-tile colspan="3" rowspan="1">
    <h2 style="text-align: center;">Bed, Bath, and Beyond</h2>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="1"></md-grid-tile>
  <md-grid-tile colspan="3" rowspan="1">
    <h2 style="text-align: center;">Amazon</h2>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2"></md-grid-tile>

  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="3" rowspan="4">
    <a href="http://www.ikea.com/us/en/">
        <img class="across-page" src="./assets/pictures/ikea.png">
    </a>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="3" rowspan="4">
    <a href="https://www.bedbathandbeyond.com/">
    <img class="across-page" src="./assets/pictures/bedbath.png">
</a>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="3" rowspan="4">
    <a href="https://www.amazon.com/">
    <img class="across-page" src="./assets/pictures/amazon.png">
</a>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>


</md-grid-list>
