<h1 class="title">Registry</h1>

<md-grid-list cols="16" rowHeight="1.5:1" rowWidth="1.5:1">
  <md-grid-tile colspan="1" rowspan="2"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="2">
    <h2 style="text-align: center;">Ikea</h2>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="2">
    <h2 style="text-align: center;">BB&B</h2>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="2">
    <h2 style="text-align: center;">Amazon</h2>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2"></md-grid-tile>

  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <a href="https://info.ikea-usa.com/giftregistry/en-us/registry/2533325a-5d10-4175-835d-9c0db55b64a6">
      <img class="registry" src="./assets/pictures/ikea.png">
    </a>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=545036810&eventType=Wedding&pwsurl=">
      <img class="registry" src="./assets/pictures/bedbath.png">
    </a>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <a href="https://www.amazon.com/wedding/share/tytusandkelsey">
      <img class="registry" src="./assets/pictures/amazon.png">
    </a>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>

</md-grid-list>

<h3 style="text-align: center;">Feel free to click on any or all of the links to our online registries!</h3>
