body,
html {
  height: 100% !important;
}

* {
  box-sizing: border-box;
}

/* Extremely Small Mobile Styles */

@media only screen and (max-width: 349px) {
  .registry {
    background: linear-gradient( rgba(20, 20, 20, .4), rgba(20, 20, 20, .4)), url("../../assets/pictures/shoesk+t.jpg");
    height: 130% !important;
    width: 130% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 0 !important;
    margin: auto !important;
    background-color: #708090;
  }
  .title {
    text-align: center;
    position: relative;
    font-size: 300%;
    top: 2%;
    margin-bottom: -1.8em;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: -.025em;
  }
  h3 {
    font-size: 22px;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .reg-img {
    display: block;
    width: 54%;
    margin: auto;
  }
}

@media only screen and (min-width: 350px) and (max-width: 376px) {
  .registry {
    background: linear-gradient( rgba(20, 20, 20, .4), rgba(20, 20, 20, .4)), url("../../assets/pictures/shoesk+t.jpg");
    height: 130% !important;
    width: 130% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 0 !important;
    margin: auto !important;
    background-color: #708090;
  }
  .title {
    text-align: center;
    position: relative;
    font-size: 300%;
    top: 2%;
    margin-bottom: -1.8em;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: -.025em;
  }
  h3 {
    font-size: 22px;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .reg-img {
    display: block;
    width: 54%;
    margin: auto;
  }
}

@media only screen and (min-width: 390px) and (max-width: 420px) {
  .registry {
    background: linear-gradient( rgba(20, 20, 20, .4), rgba(20, 20, 20, .4)), url("../../assets/pictures/shoesk+t.jpg");
    height: 130% !important;
    width: 130% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 0 !important;
    margin: auto !important;
    background-color: #708090;
  }
  .title {
    text-align: center;
    position: relative;
    font-size: 300%;
    top: 2%;
    margin-bottom: -1.8em;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: -.025em;
  }
  h3 {
    font-size: 22px;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .reg-img {
    display: block;
    width: 54%;
    margin: auto;
  }
}

/* Large Mobile Styles */

@media only screen and (min-width: 377px) and (max-width: 750px) {
  .registry {
    background: linear-gradient( rgba(20, 20, 20, .4), rgba(20, 20, 20, .4)), url("../../assets/pictures/shoesk+t.jpg");
    height: 130% !important;
    width: 130% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 0 !important;
    margin: auto !important;
    background-color: #708090;
  }
  .title {
    text-align: center;
    position: relative;
    font-size: 300%;
    top: 2%;
    margin-bottom: -1.8em;
  }
  h1 {
    font-size: 20px !important;
  }
  h2 {
    font-size: 22px;
    margin-bottom: -.055em;
  }
  h3 {
    font-size: 16px;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .reg-img {
    display: block;
    width: 50%;
    margin: auto;
  }
}

/* Tablet Styles */

@media only screen and (min-width: 751px) and (max-width: 1026px) {
  .title {
    text-align: center;
    position: relative;
    font-size: 500%;
    top: 5%;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 28px;
  }
  .one {
    grid-column: 1/3;
    grid-row: 3;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .reg-img {
    display: block;
    width: 85%;
    margin: auto;
  }
}

/* Desktop Styles */

@media only screen and (min-width: 1027px) {
  .title {
    text-align: center;
    position: relative;
    font-size: 500%;
    top: 5%;
  }
  h1 {
    font-size: 84px;
  }
  h2 {
    font-size: 42px;
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 3;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .reg-img {
    display: block;
    width: 85%;
    margin: auto;
  }
}

.registry {
  background: linear-gradient( rgba(20, 20, 20, .4), rgba(20, 20, 20, .4)), url("../../assets/pictures/shoesk+t.jpg");
  height: 100% !important;
  width: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  padding: 0 !important;
  margin: auto !important;
  background-color: #708090;
}

.details-card {
  margin-top: 1.6em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.details-card-baby {
  margin-top: 1em;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-radius: 30px;
  position: relative;
  background-color: #657585;
}

.details-card-title {
  margin-top: 1.6em;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.stores {
  margin-top: 5em;
}

.extra-note {
  height: 70;
  background-color: #708090;
}
