<h1>Registry</h1>

<md-grid-list cols="16" rowHeight="1.5:1" rowWidth="1.5:1">
  <md-grid-tile colspan="1" rowspan="2"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="2">
    <h2 style="text-align: center;">Ikea</h2>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="2">
    <h2 style="text-align: center;">BB&B</h2>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="2">
    <h2 style="text-align: center;">Amazon</h2>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2"></md-grid-tile>

  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <a href="http://www.ikea.com/us/en/">
        <img class="registry" src="./assets/pictures/ikea.png">
    </a>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <a href="https://www.bedbathandbeyond.com/">
    <img class="registry" src="./assets/pictures/bedbath.png">
</a>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <a href="https://www.amazon.com/">
    <img class="registry" src="./assets/pictures/amazon.png">
</a>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>

</md-grid-list>

<h3 style="text-align: center;">Feel free to click on any or all of the links to our online registries!</h3>
