<div class="cover-details">
  <div class="title">Wedding Details</div>
</div>

<div class="when-where-desktop">
  <div class="ww-pic">
    <img class="ww-pic-image" src="/assets/pictures/tallk+t.jpg" alt="">
  </div>
  <div class="ww-info">
    <p class="ww-info-title">When & Where</p>
    <p class="ww-paragraph">
      Friday May 25th, 2018
      <br> Lake Lyndsay Lodge
      <br> 4845 Augspurger Rd, Hamilton, OH 45011
    </p>
    <p>
      The ceremony will begin at 5:30pm with the reception immediately following.
    </p>
  </div>
</div>

<div class="when-where-mobile">
  <div class="ww-info">
    <p class="ww-info-title">When & Where</p>
    <p class="ww-paragraph">
      Friday May 25th, 2018
      <br> Lake Lyndsay Lodge
      <br> 4845 Augspurger Rd, Hamilton, OH 45011
    </p>
    <p>
      The ceremony will begin at 5:30pm with the reception immediately following.
    </p>
  </div>
  <div class="ww-pic">
    <img class="ww-pic-image" src="/assets/pictures/tallk+t.jpg" alt="">
  </div>
</div>


<div class="wedding-party-background">
  <br>
  <p class="wp-title">Our Wedding Party</p>

  <p class="wp-subheader">The Bridesmaids</p>
  <br>

  <ul id="rig">
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_kc.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">
          <span class="rig-text-name">Kayla Schwieterman</span>
          <br>
          <br> Matron of Honor
          <br> Sister of the bride</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_kp.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">
          <span class="rig-text-name">Kate Poston</span>
          <br>
          <br>
          <br>Maid of Honor
          <br>Best friend of the bride</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_jt.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">
          <span class="rig-text-name">Jamie Thivener</span>
          <br>
          <br>Bridesmaid
          <br>CHAARG college friend</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_hp.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">
          <span class="rig-text-name">Hannah Planck</span>
          <br>
          <br>
          <br>Bridesmaid
          <br>Future Sister-In-Law</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_ps.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">
          <span class="rig-text-name">Patty Salas</span>
          <br>
          <br>
          <br>Bridesmaid
          <br>Friend Since High School</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_ks.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">
          <span class="rig-text-name">Kaitlyn Santinoceto</span>
          <br>
          <br>Bridesmaid
          <br>CHAARG College Friend</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_ts.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">
          <span class="rig-text-name">Tori Spradling</span>
          <br>
          <br>
          <br>Bridesmaid
          <br>Friend Since High School</span>
      </a>
    </li>

    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_rb.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">
          <span class="rig-text-name">Rory Braff</span>
          <br>
          <br>
          <br>Junior Bridesmaid
          <br>Bride's Cousin</span>
      </a>
    </li>
  </ul>

  <br>
  <br>

  <p class="wp-subheader">The Groomsmen</p>
  <br>

  <ul id="rig">
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_bs.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Brian Smudski</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_to.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Trevor Osborne</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_jm.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Jake McCarty</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_no.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Noah Orr</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_cs.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Collin Schwieterman</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_jp.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Joshua Pare</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_ge.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Garrett Ezman</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_gp.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Griffin Pare</span>
      </a>
    </li>
  </ul>

  <br>
  <br>

  <p class="wp-subheader">The Little Guys</p>
  <br>

  <ul id="rig">
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="">
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_dp.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Declan Parker</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_ns.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Nora Schermerhorn</span>
      </a>
    </li>
    <li>
  </ul>


  <br>
  <br>
</div>
