<!-- <h1>Wedding Details</h1> -->

<h1 style="text-align: center;">Ceromony & Reception</h1>

<md-card class="details-card">
  <h2 style="text-align: center;">
    Friday May 25th, 2018
    <br>
    <br> Lake Lyndsay Lodge
    <br> 4845 Augspurger Rd, Hamilton, OH 45011
  </h2>
  <h2 style="text-align: center;">
    The ceremony will begin at 5:30pm with the reception immediately following.
  </h2>
</md-card>

<h1 style="text-align: center;">Our Wedding Party</h1>

<md-grid-list cols="13" rowHeight="1.5:1" rowWidth="1.5:1">
  <md-grid-tile colspan="2" rowspan="1"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1">
    <h2>Bride's Party</h2>

  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="1"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1">
    <h2>Groom's Party</h2>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="1"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="1"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="1"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="1"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <h3>Person</h3>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>

  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="4"></md-grid-tile>
  <md-grid-tile colspan="4" rowspan="4">
    <img class="across-page" src="./assets/pictures/person.png">
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="4"></md-grid-tile>
</md-grid-list>
