<!-- <h1>Wedding Details</h1> -->
<!-- <div class="background-party"> -->
<!-- <h1 style="text-align: center;">When & Where</h1>
  <br>
  <md-card class="details-card">
    <h2 style="text-align: center;">
      Friday May 25th, 2018
      <br>
      <br> Lake Lyndsay Lodge
      <br> 4845 Augspurger Rd, Hamilton, OH 45011
    </h2>
    <h3 style="text-align: center;">
      The ceremony will begin at 5:30pm with the reception immediately following.
    </h3>
  </md-card>
  <br> -->

<div class="cover-details">
  <div class="title">Wedding Details</div>
</div>

<div class="when-where">
  <div class="ww-pic">
    <img class="ww-pic-image" src="/assets/pictures/tallk+t.jpg" alt="">
  </div>
  <div class="ww-info">
    <h1>When & Where</h1>
    <br>
    <h2>
      Friday May 25th, 2018
      <br>
      <br> Lake Lyndsay Lodge
      <br> 4845 Augspurger Rd, Hamilton, OH 45011
    </h2>
    <h3>
      The ceremony will begin at 5:30pm with the reception immediately following.
    </h3>
  </div>
</div>


<div class="wedding-party-background">
  <br>
  <h1 style="text-align: center;">Our Wedding Party</h1>

  <h2 style="text-align: center;">The Bridesmaids</h2>
  <br>

  <ul id="rig">
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_kc.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Kayla Cassidy</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_kp.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Kate Poston</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_hp.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Hannah Planck</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_ps.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Patty Salas</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_ts.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Tori Spradling</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_jt.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Jamie Thivener</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_ks.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Kaitlyn Santinoceto</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_rb.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Rory Braff</span>
      </a>
    </li>
  </ul>

  <br>
  <br>

  <h2 style="text-align: center;">The Groomsmen</h2>
  <br>

  <ul id="rig">
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_bs.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Brian Smudski</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_to.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Trevor Osborne</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_jm.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Jake McCarty</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_no.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Noah Orr</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_cs.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Collin Schwieterman</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_jp.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Joshua Pare</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_ge.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Garrett Ezman</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_gp.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Griffin Pare</span>
      </a>
    </li>
  </ul>

  <br>
  <br>

  <h2 style="text-align: center;">The Little Guys</h2>
  <br>

  <ul id="rig">
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="">
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_dp.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Declan Parker</span>
      </a>
    </li>
    <li>
      <a class="rig-cell" href="#">
        <img class="rig-img" src="/assets/pictures/person_ns.jpg">
        <span class="rig-overlay"></span>
        <span class="rig-text">Nora Schermerhorn</span>
      </a>
    </li>
    <li>
  </ul>


  <br>
  <br>
</div>
