<nav md-tab-nav-bar color=primary>
  <a md-tab-link [routerLink]="['/ourstory']" (click)="activeLinkIndex = 1" routerLinkActive #rla="routerLinkActive" [active]="activeLinkIndex === 1">
    Our Story
  </a>
  <a md-tab-link [routerLink]="['/weddingdetails']" (click)="activeLinkIndex = 2" routerLinkActive #rla="routerLinkActive" [active]="activeLinkIndex === 2">
    Wedding Details
  </a>
  <a md-tab-link [routerLink]="['/photos']" (click)="activeLinkIndex = 3" routerLinkActive #rla="routerLinkActive" [active]="activeLinkIndex === 3">
    Photos
  </a>
  <a md-tab-link [routerLink]="['/registry']" (click)="activeLinkIndex = 4" routerLinkActive #rla="routerLinkActive" [active]="activeLinkIndex === 4">
    Registry
  </a>
</nav>

<router-outlet></router-outlet>
