material-app,
md-sidenav-container,
.my-content {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #d4d4d4;
}

.mat-sidenav-content {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.app-content {
  /* padding: 20px;
  padding-left: 4vw;
  padding-right: 4vw; */
  height: 100%;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-icon-wrapper {
  position: fixed;
}

.app-icon-button {
  color: #363636;
  box-shadow: none !important;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  /* margin-left: 1.5vw;
  margin-top: -.4vw; */
  min-width: 0 !important;
  padding: 0;
  text-align: left;
  text-decoration: none;
  outline: none;
  /* min-height: 64px !important;
  max-height: 64px !important; */
}

.menu-height {
  /* width: 400px !important;
  height: 400px !important; */
}

a {
  text-decoration: none;
  color: inherit;
}

.box {
  position: absolute;
  z-index: 0;
  /* top: .8%;
  left: 1.03%; */
  width: 1.65em;
  height: 1.65em;
  /* border-radius: 1em; */
}

.white {
  opacity: 0.85;
  background: white;
}
