<!-- <div class="overlay"> -->
<div class="bg">
  <!-- <div class="box white">
  </div> -->
  <div class="title">
    Tytus + Kelsey
  </div>

  <div class="button-wrapper">
    <a href="http://tytusandkelsey.anrsvp.com/" class="waves-effect white black-text waves-light btn">RSVP</a>
  </div>

  <div class="detail">
    Scroll for more details.
  </div>
</div>

<div class="story-bg">
  <div class="story-title">
    Our Story
  </div>

  <p class="story-text">Tytus and Kelsey met in their high school days in the Lakota West Marching Band. Drumline + Colorguard turned out to be
    a perfect match, as the stereotype goes. As they applied to colleges their senior year, they planned to continue their
    relationship despite which colleges they both decided to attend [Kelsey still believes to this day that they just happened
    to choose the same university, but in reality, Tytus knew she was the one]. In the fall of 2014, they started school
    at The Ohio State University. As they began this new journey in Columbus, not only did their love for espresso grow,
    but also their love for one another. They got connected with a local church + watched their relationship thrive with
    their faith at the center of it all. On May 20th, 2017, the summer before their senior year, Tytus popped the question
    and Kelsey said yes! They’re finishing up their last semester of school and on May 25th, 2018, they’ll tie the knot once
    and for all!
  </p>
  <div class="buttons-outer">
    <div class="button-wrapper-details">
      <a routerLink="/weddingdetails" class="waves-effect white black-text waves-light btn">Wedding Details</a>
    </div>
    <div class="button-wrapper-details">
      <a routerLink="/registry" class="waves-effect white black-text waves-light btn">Registry</a>
    </div>
  </div>
</div>

<div class="story-info-bg">
  <div class="additional-title">
    Local Hotel Options
  </div>
  <div class="buttons-outer-hotel">
    <div class="button-wrapper-details">
      <a href="http://www.marriott.com/hotels/travel/cvgno-cincinnati-marriott-north/" class="waves-effect white black-text waves-light btn">West Chester Marriott</a>
    </div>
    <div class="button-wrapper-details">
      <a href="http://www.marriott.com/hotels/travel/cvgci-ac-hotel-cincinnati-at-liberty-center/" class="waves-effect white black-text waves-light btn">AC Hotel Marriott</a>
    </div>
  </div>
</div>
