body,
html {
  height: 100% !important;
}

.bg {
  background-image: url("../../assets/pictures/homepagek+t.jpg");
  height: 100% !important;
  width: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  padding: 0 !important;
  margin: auto !important;
  background-color: rgba(0, 0, 0, .10);
  background-blend-mode: multiply;
}

.title {
  text-align: center;
  position: relative;
  font-size: 500%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.rsvp {
  text-align: center;
  position: relative;
  font-size: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

.detail {
  text-align: center;
  position: relative;
  font-size: 200%;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.box {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  height: 6em;
  border-radius: 1em;
}

.white {
  opacity: 0.85;
  background: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  /*can be anything, of course*/
}
