body,
html {
  height: 100% !important;
}

.bg {
  background-image: url("../../assets/pictures/goodfootball.jpg");
  height: 100% !important;
  width: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  padding: 0 !important;
  margin: auto !important;
}

.title {
  text-align: center;
  position: relative;
  font-size: 500%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #363636;
}

.box {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  height: 6em;
  border-radius: 1em;
}

.white {
  opacity: 0.85;
  background: white;
}
