<!-- <div class="overlay"> -->
<div class="bg">
  <!-- <div class="box white">
  </div> -->
  <div class="title">
    Tytus + Kelsey
  </div>

  <!-- <div class="button-wrapper">
    <a href="http://tytusandkelsey.anrsvp.com/" class="waves-effect white black-text waves-light btn">RSVP</a>
  </div> -->

  <div class="detail">
    Scroll for more details.
  </div>
</div>

<div class="story-bg">
  <div class="story-title">
    Our Story
  </div>

  <p class="story-text">Tytus and Kelsey met in their high school days in the Lakota West Marching Band. As they applied to colleges their senior
    year, they planned to continue their relationship despite which colleges they both decided to attend. chose. Kelsey still
    believes to this day that they happened to choose the same school but in reality Tytus couldn’t stand the separation.
    In the fall of 2014, they started school at The Ohio State University. As they began this new journey in Columbus, their
    relationship only grew and their faith became an even larger part of their love for one another. On May 20th, 2017, the
    start of the summer before their senior year, Tytus popped the question and Kelsey said yes! They’re finishing up their
    senior year and on May 25th, 2018, they’ll tie the knot once and for all!
  </p>
  <div class="buttons-outer">
    <div class="button-wrapper-details">
      <a routerLink="/weddingdetails" class="waves-effect white black-text waves-light btn">Wedding Details</a>
    </div>
    <div class="button-wrapper-details">
      <a routerLink="/registry" class="waves-effect white black-text waves-light btn">Registry</a>
    </div>
  </div>
</div>

<div class="story-info-bg">
  <div class="additional-title">
    Hotel Options
  </div>
  <div class="buttons-outer-hotel">
    <div class="button-wrapper-details">
      <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/west-chester/cvglc/hoteldetail?qRef=rr&qRpn=1&qChld=0&qSrt=sBR&qSHp=1&qSmP=3&qGRM=0&qSlH=cvglc&qRms=1&srb_u=1&qAdlt=1&qPSt=0&qRtP=6CBARC&qCiMy=042018&qHtlC=cvglc&qCoD=27&qCiD=24&qCoMy=042018&qRmP=K.O.T.X.C&qRRSrt=rt&qRpp=20&qBrs=hi.ex.rs.ic.cp.in.sb.cw.cv.6c.vn.ul.ki.sp.nd.ct&qWch=0"
        class="waves-effect white black-text waves-light btn">Holiday Inn Express</a>
    </div>
    <div class="button-wrapper-details">
      <a href="http://www.marriott.com/hotels/travel/cvgci-ac-hotel-cincinnati-at-liberty-center/" class="waves-effect white black-text waves-light btn">AC Hotel Marriott</a>
    </div>
  </div>
</div>
